body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/*header banner starts here*/
.header{
    width: 100%;
    height: 700px;
    background-image: url(../img/slide01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    color: white;
}
.header .nav h6{
    float: left;
    font-weight: 500;
    font-size: 13px;
    margin-left: 30px;
    margin-top: 16px;
}
.header .nav h6 span{
    font-weight: 200;
    font-size: 13px;
}
.header .nav p{
    float: right;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
}
.header .nav p .fa{
    margin-right: 5px;
    cursor: pointer;
}
.header .banner{
    width:100%;
    margin: 0 auto;
    position: relative;
    top: 30%;
    text-align: center;
}
.banner p span{
    letter-spacing: 4px;
    font-weight: 300;
    font-size: 11px;
}
.banner p {
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 4px;
}
.banner hr{
    width: 50%;
}
.banner h1{
    font-size: 100px;
    font-weight: 300;
    margin-top: 10px;
}
/*header banner ends here*/

/*two-box starts here*/
.full-wrapper{
    width: 100%;
    background-color: #dfdfdf;
    padding:80px 0px;
}
.full-width{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.two-box .full-width .left{
    width: 45%;
    float: left;
    background-color: white;
    padding-bottom: 30px;
}
.two-box .full-width .right{
    width: 45%;
    float: right;
    background-color: white;
    padding-bottom: 30px;
}

.two-box .full-width img{
    width:100%;
}
.full-width .left h6,.full-width .right h6{
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 11px;
}
.full-width .left hr,.full-width .right hr{
    width: 50%;
    height: 0.5%;
}
.full-width .left h2,.full-width .right h2{
    font-weight: 400;
    font-size: 20px;
}
.full-width .left p,.full-width .right p{
    font-weight: 300;
    font-size: 14px;
}
.full-width .left button,.full-width .right button{
    width: 150px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid gray;
}
.center{
    text-align: center;
    width: 100%;
    padding: 30px 0px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}
.center p{
    font-weight: 200;
    color: white;
    letter-spacing: 3px;
    font-size: 10px;
}
.center hr{
    width: 40%;
    height: 0.5%;
}
.center h2{
    font-weight: 300;
    color: white;
    font-size: 20px;
}
.four-image .full-width img{
    width: 45%;
    float: left;
    margin-bottom: 30px;
    padding: 10px ;
    background-color: white;
}
.four-image .full-width .left-image{
    float: right;
}
/*two-box ends here*/

/* footer starts here*/
.footer-full{
    width: 100%;
    padding: 50px 0px;
    background-color: black;
}
.footer{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.footer .fa{
    color:gray;
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
}
.footer p{
    color: gray;
    font-size: 14px;
    font-weight: 200;
}
/* footer ends here*/

/*meadia query starts here*/
@media only screen and (max-width:1000px){
    .banner h1{
        font-size: 80px;
    }

    .two-box .full-width .left{
        width: 100%;
        clear: both;
        margin-bottom: 20px;
    }
    .two-box .full-width .right{
        width: 100%;
        clear: both;
    }

    .four-image .full-width img{
        width: 100%;
        clear: both;
        margin-bottom: 10px;
        padding: 10px 0px; 
    } 
}
/*maedia query ends here*/



